$baseSize: 16px;
.button {
  padding: 0.5em 1em;
  text-align: center;
  border: 1px solid #000;
  border-radius: 4px;

  &[data-size="sm"] {
    max-width: 180px;
    font-size: 10px;
  }

  &[data-size="md"] {
    max-width: 320px;
    font-size: $baseSize;
  }

  &[data-size="lg"] {
    max-width: 480px;
    font-size: $baseSize * 1.5;
  }
}
