.navi {
  padding: 0;
  margin: 0;
}

.li {
  position: relative;
  padding: 0 0 0 1.25em;

  & + & {
    margin-top: 1em;
  }

  &::before {
    position: absolute;
    left: 0;
    content: "・";
  }

  a {
    text-decoration: underline;
  }
}
